// Fonts
$body-font: 'Lato', sans-serif;
$heading-font: 'Cormorant Garamond', serif;

// Colors
$main-color: #343434;
$light-color: #b6664a;
$heading-color: #1b1a1a;
$border-color: #b4b3b3;



$alt-color: #f87219;
$text-color: #7b7b7b;
$meta-color: #868686;
$heading-color: #000000;
$nav-color: #ffffff;
$bg-light: #f7f7f7;
$bg-dark: #000000;





// Navbar
$nav-height: 80px;
$nav-short-height: 50px;
