article.post.type-post
  .entry-media-overlay
    .entry-media
      a(href='#')
        img.entry-img.img-responsive(src='images/dummy-photo.jpg', alt='')
    header.entry-header
      .entry-meta
        span.entry-time
          time July 7, 2017
      h2.entry-title
        a.entry-title-link(href='#') Small Talk Confidence
