#comments.comments-area
  h3.comments-title 3 comments
  ol.comment-list
    li.comment.depth-1
      article.comment-body
        header.comment-header
          .comment-author
            img.avatar(alt='', src='https://secure.gravatar.com/avatar/c9e2cc5954df0c13fb5a49eedce39c01?s=60&d=mm&r=g')
            span
              a.comment-author-link(href='#') Joeby Ragpa
          .comment-meta
            span.comment-time
              a.comment-time-link(href='#') July 17, 2017 at 12:48 pm
        .comment-content
          p
            | This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.
        .comment-reply
          a.comment-reply-link(href='#') Reply
          span.edit-link
            a.comment-edit-link(href='#') Edit
      ol.children
        li.comment
          article.comment-body
            header.comment-header
              .comment-author
                img.avatar(alt='', src='https://secure.gravatar.com/avatar/c9e2cc5954df0c13fb5a49eedce39c01?s=60&d=mm&r=g')
                span
                  a.comment-author-link(href='#') Joeby Ragpa
              .comment-meta
                span.comment-time
                  a.comment-time-link(href='#') July 17, 2017 at 12:48 pm
            .comment-content
              p
                | This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.
            .comment-reply
              a.comment-reply-link(href='#') Reply
              span.edit-link
                a.comment-edit-link(href='#') Edit
        // end reply comment
    li.comment.depth-1
      article.comment-body
        header.comment-header
          .comment-author
            img.avatar(alt='', src='https://secure.gravatar.com/avatar/c9e2cc5954df0c13fb5a49eedce39c01?s=60&d=mm&r=g')
            span
              a.comment-author-link(href='#') Joeby Ragpa
          .comment-meta
            span.comment-time
              a.comment-time-link(href='#') July 17, 2017 at 12:48 pm
        .comment-content
          p
            | This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.
        .comment-reply
          a.comment-reply-link(href='#') Reply
          span.edit-link
            a.comment-edit-link(href='#') Edit
