.featured-post-wrap
  article.post.type-post.featured-post
    header.entry-header
      .entry-meta
        span.entry-time
          time July 7, 2017
      h2.entry-title
        a.entry-title-link(href='#') Small Talk Confidence
    .entry-media
      a(href='#')
        img.entry-img.img-responsive(src='images/dummy-photo.jpg', alt='')
    .entry-content
      p
        | Namira is a very slick and clean e-commerce template with endless possibilities. Creating an awesome clothes store with this Theme is easy than you can imagine. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa. Fusce ante magna, iaculis ut purus ut.
      .entry-read-more
        a.more-link(href='#') Read More
    footer.entry-footer
      .entry-meta
        span.social-links
          | Share:
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-pinterest-p
        span.cat-links.pull-right
          | Categories:
          a(href='#') Fashion
          | ,
          a(href='#') Fashion
          | ,
          a(href='#') Fashion
