footer#colophon.site-footer.footer
  // Begin .footer-widgets
  .footer-widgets
    .container-fluid
      .row
        .col-md-12
          section.widget.widget_instagram
            .col-md-2
              img.img-responsive(src='images/dummy-photo.jpg', alt='')
            .col-md-2
              img.img-responsive(src='images/dummy-photo.jpg', alt='')
            .col-md-2
              img.img-responsive(src='images/dummy-photo.jpg', alt='')
            .col-md-2
              img.img-responsive(src='images/dummy-photo.jpg', alt='')
            .col-md-2
              img.img-responsive(src='images/dummy-photo.jpg', alt='')
            .col-md-2
              img.img-responsive(src='images/dummy-photo.jpg', alt='')
  // End .footer-widgets
  .footer-brand
    .container
      .row
        .col-md-6
          .footer-logo.text-left
            img(src='images/logo-white.png', alt='')
        .col-md-6
          .footer-social.text-right
            a(href='#')
              i.fa.fa-facebook
              | Facebook
            a(href='#')
              i.fa.fa-twitter
              | Twitter
            a(href='#')
              i.fa.fa-pinterest-p Pinterest
    // Begin .footer-copyright
    .footer-copyright
      .container
        .row
        .col-md-6.text-sm-center
          span.copyright
            | © 2018 Sophi Dainty Theme. Made by
            a(href='http://minwp.com') minWP
    // End .footer-copyright
