nav.navigation.paging-navigation(role='navigation')
  h1.screen-reader-text Posts navigation
  .nav-links
    .nav-previous
      a(href='#?paged=2')
        i.glyphicon.glyphicon-menu-left
        |  Older posts
    .nav-next
      a(href='#')
        | Newer posts
        i.glyphicon.glyphicon-menu-right
