#respond.comment-respond
  h3.comment-reply-title Leave a Reply
  form#commentform.comment-form
    p.comment-notes
      span#email-notes Your email address will not be published.
      |  Required fields are marked
      span.required *
    p.comment-form-comment
      label(for='comment') Comment
      textarea#comment(name='comment', cols='45', rows='8', maxlength='65525', required='required')
    p.comment-form-author
      label(for='author')
        | Name
        span.required *
      input#author(name='author', type='text', value='', size='30', maxlength='245', required='required')
    p.comment-form-email
      label(for='email')
        | Email
        span.required *
      input#email(name='email', type='email', value='', size='30', maxlength='100', aria-describedby='email-notes', required='required')
    p.comment-form-url
      label(for='url') Website
      input#url(name='url', type='url', value='', size='30', maxlength='200')
    p.form-submit
      input#submit.submit(name='submit', type='submit', value='Post Comment')
      input#comment_post_ID(type='hidden', name='comment_post_ID', value='1')
      input#comment_parent(type='hidden', name='comment_parent', value='0')
