.entry-author.clearfix
  .author-avatar
    img.avatar(alt='', src='https://secure.gravatar.com/avatar/c9e2cc5954df0c13fb5a49eedce39c01?s=60&d=mm&r=g')
  .author-info
    h4
      a(href='#') Jessie Rodrigues
    p
      | But unfortunately for most of us our role as gardener has never been explained to us. And in misunderstanding our role, we have allowed seeds of all types, both good and bad, to enter our inner garden.
