head
    meta(charset='UTF-8')
    title Sophi Dainty
    // Meta tag
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Google Font
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato:400,700', rel='stylesheet')
    // FontAwesome
    // Include CSS
    link(rel='stylesheet', href='css/libs/slick.css')
    link(rel='stylesheet', href='css/style.css')
    // Include Script
    script(src='js/libs/jquery.min.js')
    script(src='js/libs/slick.min.js')
    script(src='js/scripts.js')
