doctype html
html(lang='en')
	include head.pug
	body.minwp
		.site-container
			// Begin Header
			include header-transparent.pug
			// End Header
			// Begin .site-content
			#content.site-content
				.minwp-blog-template
					block featured-post-slider
					block featured-post-grid
					.container
						.row
							// Begin .site-main
							#primary.content-area.col-md-8
								main#main.site-main
									block site-main
							// End .site-main

							// Begin Sidebar
							include sidebar.pug
							// End Sidebar
			// End .site-content
			// Begin .site-footer
			include footer.pug
			// End .site-footer
