// Begin Pagination
nav.navigation.pagination(role='navigation')
  h2.screen-reader-text Posts navigation
  .nav-links
    span.page-numbers.current(aria-current='page') 1
    a.page-numbers(href='http://namira.local/page/2/') 2
    a.page-numbers(href='http://namira.local/page/3/') 3
    a.page-numbers(href='http://namira.local/page/4/') 4
    a.next.page-numbers(href='http://namira.local/page/2/') Next
// End Pagination
