nav.navigation.pagination(role='navigation')
  h3.screen-reader-text Posts navigation
  .nav-links
    span.page-numbers.current(aria-current='page') 1
    a.page-numbers(href='http://namira.local/page/2/') 2
    a.page-numbers(href='http://namira.local/page/3/') 3
    span ...
    a.next.page-numbers(href='http://namira.local/page/2/') Next
