// Begin post navigation
nav.navigation.post-navigation(role='navigation')
  h3.screen-reader-text Post navigation
  .nav-links
    .nav-previous
      a(href='#', rel='prev') Earth Made Jewelry
    .nav-next
      a(href='#', rel='next') Jensen Shoes
// End post navigation
