extend includes/layout.pug

block featured-post-grid
	// Begin featured post grid
	.minwp-featured-post-grid.style-2
		.container-fluid
			.row
				.col-md-6
					include includes/article-overlay.pug
				.col-md-3
					include includes/article-overlay.pug
				.col-md-3
					include includes/article-overlay.pug
				.col-md-3
					include includes/article-overlay.pug
				.col-md-3
					include includes/article-overlay.pug
	// End featured post grid

block site-main
	// Begin featured-post
	include includes/featured-post.pug
	// End featured-post
	.minwp-post-grid
		.row
			.col-md-6
				include includes/post-formats/standard.pug
			.col-md-6
				include includes/post-formats/standard.pug
			.col-md-6
				include includes/post-formats/standard.pug
			.col-md-6
				include includes/post-formats/standard.pug
	// Begin Pagination
	include includes/post-list-pagination-number.pug
	// End Pagination
