article.post.type-post.format-aside
  .entry-content
    p
      | You think from the title it’s going to be one of those gee-whiz stories or vaguely condescending toward Japanese, but what follows is actually an incredibly poignant and powerful view of society through a lens I had never imagined before. It’s a
      a(href='https://longreads.com/') #longread
      |  but I hope you take the time to sit with it this weekend. You may need a swordsman.
  footer.entry-footer
    .entry-meta
      span.entry-time
        time July 7, 2017
      span.edit-link
        a.post-edit-link(href='#') Edit

