article.post.type-post.format-quote
  .entry-content
    blockquote
      p
        | You think from the title it’s going to be one of those gee-whiz stories or vaguely condescending toward Japanese, but what follows is actually an incredibly poignant and powerful view of society through a lens I had never imagined before. It’s a .
        br
        cite
          a(href='#') Mark Twain
  footer.entry-footer
    .entry-meta
      span.entry-time
        time July 7, 2017
      span.edit-link
        a.post-edit-link(href='#') Edit
